article.exchange {
  box-sizing: content-box;
  width: 90%;
  height: 13rem;
  max-width: 300px;
  max-height: 150px;
  padding: 1.6rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  font-family: Roboto;
  box-shadow: 3px 3px 2px -1px #e8e8e8d9;
  background-color: #f6f6f6;
  border: 1px solid #e8e8e8d9;
}

article.exchange header span.reload {
  position: absolute;
  left: -24px;
  top: -12px;
  padding: 0 8px 8px;
}

article.exchange header span.reload:hover svg {
  transition: .8s;
  transform-origin: center;
  transform: rotate(360deg);
}

article.exchange h1 {
  font-weight: 500;
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 1px;
  color: #8950D2;
}

article.exchange sup {
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  color: #A880DC;
}

article.exchange .info {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 2rem 0;
}

article.exchange .info .row {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article.exchange .info h5 {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #0F2594;
  width: 40%;
  text-align: left;
}

article.exchange .info h6 {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #9562D7;
  width: 60%;
  text-align: center;
}

article.exchange .info h6 sup {
  margin-left: .8rem;
}

@media (max-width: 700px) {
  article.exchange {
    height: 17rem;
  }

  article.exchange h1 {
    font-size: 1.8rem;
  }

  article.exchange sup {
    font-size: 1.2rem;
  }

  article.exchange .info h5 {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }

  article.exchange .info h6 {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}
