
article {
  box-sizing: content-box;
  width: 90%;
  padding: 1.6rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  font-family: Roboto;
  box-shadow: 3px 3px 2px -1px #e8e8e8d9;
  background-color: #f6f6f6;
  border: 1px solid #e8e8e8d9;
}

.crypto article {
  max-width: 350px;
  height: 15rem;
  max-height: 150px;
}

article h1 {
  font-weight: 500;
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 1px;
  color: #8950D2;
}

article sup {
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  color: #A880DC;
}

article .info {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 2rem 0;
}

article .info .row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article .info h5 {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #0F2594;
  width: 40%;
  text-align: left;
}

.crypto article .info h5 {
  width: 40%
}

article .info .prices {
  margin-top: 0.8rem;
}

article .info .prices h5 {
  width: 100%;
  text-align: center;
  line-height: normal;
}

article .info h6 {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #9562D7;
  width: 50%;
  text-align: left;
}

.crypto article .info h6 {
  width: 60%
}

article .info h6 sup {
  margin-left: .8rem;
}

article footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 300px;
  height: 1.8rem;
  margin: 0 auto;
}

article footer button {
  box-sizing: content-box;
  width: 8rem;
  height: 2rem;
  padding: .08rem;
  border-radius: 1.8rem;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #842693e6;
  border: .8px solid #A159AB;
  outline-color: #A159AB;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: .2s;
}

article footer button:hover {
  color: #ae3fbe;
  border: 1px solid #6b1277;
}


@media (max-width: 700px) {
  article {
    height: 20rem;
  }

  article h1 {
    font-size: 1.8rem;
  }

  article sup {
    font-size: 1.2rem;
  }

  article .info h5 {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }

  article .info h6 {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }

  article footer button {
    width: 9rem;
    height: 2.4rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}
