#header {
  max-height: 200px;
}

#header .header-box {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#header .logo img {
  width: 70%;
  max-width: 24rem;
  margin: 0 8px;
}

#header .favorites a {
  width: 18rem;
  height: 4rem;
  font-family: Roboto;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #842693e6;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: 2px solid #A159AB;
  border-radius: 9rem;
  transition: .2s;
}

#header .favorites a:hover {
  border-color: #9a49a5;
  color: #852294;
}

#header nav.menu {
  min-width: 30%;
  display: flex;
}

#header ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#header li {
  margin: 0 8px;
  font-size: 2.4rem;
}

#header li a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #842693e6;
  position: relative;
}

#header li a.active {
  font-weight: bold;
}

#header li a::after {
  content: "";
  position: absolute;
  top: -4px;
  width: 0%;
  height: 2px;
  background-color: #d818a1;
  transition: width .3s;
}

#header li a:hover {
  font-weight: bold;
  filter: brightness(1.1);
  color: #892199;
}

#header li a:hover::after {
  width: 100%;
}

#header li img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

#header li:nth-child(2) img {
  transform: rotate(-90deg);
}

#header #burger {
  display: none;
  flex-direction: column;
  width: fit-content;
}

#header #burger i {
  width: 32px;
  height: 4px;
  background-color: #842693e6;
  margin: 4px 8px;
  transition: transform .2s;
}

#header #burger .menu-burger {
  display: none;
}

#header .menu.opened #burger i:nth-child(1) {
  transform: rotate(45deg) translateX(17px);
}

#header .menu.opened #burger i:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

#header .menu.opened #burger i:nth-child(3) {
  transform: rotate(-48deg) translateX(16px);
}

@media (max-width: 600px) {
  #header.up {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 5;
    max-height: unset;
  }

  #header nav.menu {
    min-width: auto;
  }

  #header .menu > ul {
    display: none;
  }

  #header #burger {
    display: flex;
    z-index: 5;
  }

  #header .menu.opened #burger i {
    z-index: 10;
  }

  #header .menu.opened #burger .modal {
    pointer-events: none;
    position: absolute;
    z-index: 5;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #f3f3f3;
  }

  #header .menu.opened #burger .menu-burger {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #header .menu.opened #burger .menu-burger li {
    font-size: 4rem;
    pointer-events: initial;
  }
}
